/* Write your CSS here */

.vaccination-by-coverage-container {
  display: flex;
  flex-direction: column;
  background-color: #1c1c2b;
  margin-bottom: 20px;
  padding: 20px;
}

.coverage-heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  padding: 10px;
}
